<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./assets/css/master.css">
  <title>Dischi PHP-Vue</title>
</head>
<body>
  <div id="root">
    <header>
      <h1 class="text-center">La tua Musica</h1>
      <div class="music-select flex">
        <label for="genres">Cosa ti va di ascoltare: </label>
        <select>
          <option value="All">All</option>
          <!-- con un v-for ciclo tutte le option in base all'array dei generi
          il value dovrà prendere il nome dal'oggetto dell'array corrispondente
          ad esempio in questo caso in albums ci interessa il .genre quindi value sarà genre per poterli comparare -->
          <option v-for="album in albums">
            {{album.author}}
          </option>
        </select>
        <div class="search">
        </div>
      </div>
    </header>
    <main class="flex container">
      <div class="card" v-for="album in albums">
        <img :src="album.poster" alt="">
        <div class="overlay flex">
          <h4>{{album.author}}</h4>
          <h2>{{album.title}}</h2>
          <p>{{album.year}}</p>
          <p>{{album.genre}}</p>
        </div>
      </div>
    </main>
  </div>





  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="./assets/js/main.js" charset="utf-8"></script> 
</body>
</html>