.card {
  width: calc(100% / 4 - 20px);
  margin: 10px 10px;
  position: relative;
  height: 250px;
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
  &:hover .overlay{
    display: block;
  }
  img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
  }
  .overlay {
    border-radius: 8px;
    color: #fff;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
}
